.statistics {
  border: 1px dotted blue;

  &.left,
  &.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;

    font-size: 80%;
  }
}
