.landing-page-information {
  margin: 1em;
  padding: 4em;
  font-size: 100%;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif !important;
}
.landing-page-information {
  // animation: effect-fade-in 3s ease 1, effect-blur-in 3s ease 1;
  // animation-fill-mode: forwards;
}
