{
    "plugins": [
        [
            "transform-remove-console",
            {
                "exclude": [
                    "error",
                    "warn"
                ]
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining"
    ]
}