.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: relative;
  z-index: 2;
  width: 50%;
  height: 50%;
  top: calc(-15%);
  left: calc(-75%);
}

.logo-animation {
  animation: effect-scale 1s ease 1, effect-fade-in 1s ease 1;
  animation-fill-mode: forwards;
}

.map-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  align-self: center;
  height: 100%;
  width: 100%;
  filter: invert(20%);
}
